[Unit]
Description=Podman network helper socket

[Socket]
ListenStream=/tmp/podman-netd.sock
SocketMode=0660
SocketUser=podman-netd
SocketGroup=podman-netd

[Install]
WantedBy=sockets.target
